@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    text-align: justify;
    overflow-x: hidden;
    font-family: 'Press Start 2P', cursive;
}
.header{
    font-size: 100px;
    letter-spacing: 20px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(11, 240, 114);
    background: black;
}
h1{
    text-align: center;
    color: rgb(226, 37, 46);
    letter-spacing: 6px;
    position: relative;
    bottom: 200px;
}
h2{
    text-align: center;
    color: rgb(175, 64, 175);
    font-size: 26px;
    position: relative;
    bottom: 150px;
}
.a{
    font-size: 20px;
    text-align: center;
    background: black;
    display: flex;  
    justify-content: center;
    padding-bottom: 10px;
}
p{
    color: white; 
    padding: 0px 150px 0px 150px;
    font-size: 20px;
}

ol{
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    height: 2800px;
    font-size: 17px;
    position: relative;    
}

footer{
    width: 100%;
    height: 200px;
    background-color: yellow;
}

#Galileo{
    height: 200px;
    width: 180px;
    position: relative;
    padding-right: 140px;
    bottom: 200px;
    padding-left: 10px;
}
#saturn{
    height: 300px;
    width: 400px;
    padding-left: 250px;
    position: relative;
    bottom: 200px;
}
#jupiter{
    height: 300px;
    width: 400px;
    position: relative;
    left: 220px;
    bottom: 200px;
}
#Hubble{
    width: 300px;
    height: 300px;
    position: relative;
    left: 1070px;
    bottom: 200px;
}
#jameswebb{
    width: 400px;
    height: 300px;
    position: relative;
    right: -950px;
    bottom: 280px;
}
#kepler{
    height: 530px;
    position: relative;
    bottom: 400px;
    display: block;
    margin: 0 auto; 
}
#ALMA{
    padding-left: 170px;
    position: relative;
    bottom: 230px;
}
#ALMA2{
    position: relative;
    bottom: 230px;
}
#refractor{
    height: 250px;
    position: relative;
    padding-top: 20px;
}
#reflector{
    height: 300px;
    position: relative;
    bottom: 180px;
}
#Catadioptric{
    height: 350px;
    position: relative;
    bottom: 420px;
}
#radiotelescope{
    height: 400px;
    position: relative;
    bottom: 700px;
    left: 150px;
}
#imageradio{
    height: 400px;
    position: relative;
    bottom: 700px;
    left: 150px;
}
#xray{
    position: relative;
    bottom: 600px;
    display: block;
    margin: 0 auto; 
}
#space{
    height: 70px;
    position: fixed;
    padding-left: 30px;
}

.textGalileo{
    padding-right: 300px;
    position: relative;
    bottom: 200px;   
}
.texthubble{
    position: relative;
    bottom: 300px;
    line-height:  30px;
    color: white;
    font-size: 17px;
    position: relative;
    left: 150px;
    bottom: 450px;
}
.hubble{
    position: relative;
    bottom: 150px;
}
.textjameswebb{
    padding-right: 600px;
    position: relative;
    bottom: 600px;
    line-height: 30px;
}

.textkepler{
    position: relative;
    bottom: 400px;
    line-height: 30px;
}
.textatacama{
    position: relative;
    bottom: 270px;
    line-height: 30px;
}
.refractor{
    border: 2px white solid;
    width: 530px;
    height: 255px;
    position: relative;
    left: 400px;
    bottom: 255px;
}
.reflector{
    border: 2px white solid;
    width: 530px;
    height: 300px;
    position: relative;
    left: 380px;
    bottom: 480px;    
}
.catadioptric{
    border: 2px white solid;
    width: 650px;
    height: 350px;
    position: relative;
    left: 300px;
    bottom: 770px;    
}


.background{-webkit-gradient:(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(6%,rgba(214,224,255,1)), color-stop(18%,rgba(100,130,168,1)), color-stop(31%,rgba(73,79,104,1)), color-stop(52%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));}
.planet {
    position: relative;
    left: 30px;
    bottom: 150px;
	width:120px;
	height:120px;
	border-radius:120px;
	background-size: 374px;
	background-color:#FFF;
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	animation: rotate 25s infinite linear;
	-webkit-animation: rotate 25s infinite linear;
	-moz-animation: rotate 25s infinite linear;
  -o-animation: rotate 25s infinite linear;
	padding-top:4px;
}
.planet2 {
    position: relative;
    left: 1350px;
    bottom: 270px;
	width:120px;
	height:120px;
	border-radius:120px;
	background-size: 374px;
	background-color:#FFF;
	transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	animation: rotate 25s infinite linear;
	-webkit-animation: rotate 25s infinite linear;
	-moz-animation: rotate 25s infinite linear;
    -o-animation: rotate 25s infinite linear;
	padding-top:4px;
}
.mine{background: url(https://1.bp.blogspot.com/_9DvzmslTIME/TQrLOe9Hx0I/AAAAAAAAAhg/X2xPdygbRgA/s400/planet_Arnessk1200.png);
box-shadow: inset 8px 8px 10px rgba(255,255,255,0.7),
inset -19px -19px 70px rgba(0,0,0,0.9),
inset -5px -5px 8px rgba(0,0,0,0.7),
-5px -5px 10px 1px rgba(255,255,255,0.5),
5px 5px 30px 1px rgba(0,150,255,0.5);}

.yours{background: url(https://3.bp.blogspot.com/_9DvzmslTIME/TQrUKY5hQ_I/AAAAAAAAAjA/5esqGHQ-PBk/s400/planet_Muunilinst1200.png);
    box-shadow:inset 8px 8px 10px rgba(255,255,255,0.7),
    inset -19px -19px 70px rgba(0,0,0,0.9),
    inset -5px -5px 8px rgba(0,0,0,0.7),
    -5px -5px 10px 1px rgba(255,255,255,0.5),
    5px 5px 30px 1px rgba(255,80,80,0.5);}
/*h1{
	font-size:2em;
	color:#fff;
	transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	margin-left:-150px;
	font-family: 'Audiowide', sans-serif;
	text-shadow: 1px 1px 10px #000000;
}*/
.left{float:left; width:400px;}
@keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}

@-webkit-keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}
@-moz-keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}
@-o-keyframes rotate {
  from {background-position:0 0;}
  to {background-position:400px 0;}
}